.SideBar
  .LeftHeader
    .LeftHeader__list
      %p.LeftHeader__userName
        = current_user.username
      .LeftHeader__icon
        .LeftHeader__icon-edit
        = link_to new_group_path, class: "content__btn contents__btn--edit" do
          = icon('far', 'edit', class: "contents__btn--icon")
        .LeftHeader__icon-cog
        = link_to edit_user_path(current_user), class: "content__btn contents__btn--cog" do
          = icon('fas', 'cog', class: "contents__btn--icon")
  .GroupList
    - current_user.groups.each do |group|
      .Groups
        = link_to group_messages_path(group), class: "Group" do
          %p.Group__name
            = group.name
          %p.Group__message
            = group.show_last_message